
@{
    ViewBag.Title = "Customer Admin Page";
}

<h1>Customer Admin Page</h1>

<div style="text-align: center; margin: 5% auto 5% auto;">
    <img src="~/Iamges/metin-seven-metin-seven-3d-animated-gif-animation-gears-cogwheels.gif" style="width:75%" />
</div>
