@model IEnumerable<MovieShop.Models.Orders>

@{
    ViewBag.Title = "OrderAdminPage";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Order Admin Page</h2>

<div class="container form-group" style="width:fit-content; text-align:center;">

    <h4 style="background-color:#000; color:#FFF"> Choose an order to display the order details</h4>
    @{
        List<SelectListItem> orderList = new List<SelectListItem>();
        foreach (var order in Model.Select(o => o.Id).Distinct())
        {
            orderList.Add(new SelectListItem { Text = order.ToString(), Value = order.ToString() });
        }
    }

    @Html.DropDownList("OrderList", orderList, "Select an Order ID",
    new
    {
        @class = "form-group form-control selectpicker bg-transparent",
        method = "post",
        onchange = "PostOrderID(this.selectedIndex)",
        id = "OrderIDList",
        style = "padding-left:20px; margin: 5px auto;"
    })
</div>

<form name="index-form" id="index-form" method="post" hidden>
    <input type="hidden" name="index" id="index" value="0" />
</form>
<hr />

<div class="container">
    <form>
        <div class="col-md-12" style="margin-bottom:10px;">
            <div class="col-md-3">
                <label>Order Id</label>
                <input type="text" id="order-id" style="background-color: transparent; cursor: not-allowed;" readonly />
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <label>customer Id</label>
                <input type="text" id="customer-id" style="background-color: transparent; cursor: not-allowed;" readonly />
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <label>Order Date</label>
                <input type="text" id="order-date" style="background-color: transparent; cursor: not-allowed;" readonly />
            </div>
        </div>

        <div class="col-md-12" style="margin-bottom:10px;">
            <div class="col-md-3">
                <label>Forename</label>
                <input type="text" id="forname" style="cursor: cell;" />
            </div>

            <div class="col-md-1"></div>
            <div class="col-md-3">
                <label>Surname</label>
                <input type="text" id="surname" style="cursor: cell;"/>
            </div>
        </div>

        <div class="col-md-12" style="margin-bottom:10px;">
            <div class="col-md-3">
                <label>Phone No.</label>
                <input type="text" id="phone-number" style="cursor: cell;"/>
            </div>
            <div class="col-md-1"> </div>
            <div class="col-md-3">
                <label>Email</label>
                <input type="text" id="email" style="cursor: cell;"/>
            </div>
        </div>

        <div class="col-md-12" style="margin-bottom:10px;">
            <div class="col-md-3">
                <label>Billing Address</label>
                <input type="text" id="billing-address" style="cursor: cell;"/>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <label>Billing zip</label>
                <input type="text" id="billing-zip" style="cursor: cell;"/>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <label>Billing city</label>
                <input type="text" id="billing-city" style="cursor: cell;"/>
            </div>
        </div>

        <div class="col-md-12" style="margin-bottom:10px;">
            <div class="col-md-3">
                <label>Shipping Address</label>
                <input type="text" id="shipping-address" style="cursor: cell;"/>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <label>Shipping zip</label>
                <input type="text" id="shipping-zip" style="cursor: cell;"/>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <label>Shipping city</label>
                <input type="text" id="shipping-city" style="cursor: cell;"/>
            </div>
        </div>

        <div class="col-md-12" style="margin-bottom:3px;">
            <div class="col-md-2">
                <label>Title</label>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <label>Qty</label>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <label>Price (SEK)</label>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <label>Sum (SEK)</label>
            </div>
        </div>

        <div class="col-md-12" style="margin-bottom:10px;">
            <div class="col-md-2">
                <input type="text" id="title" style="background-color: transparent; cursor: not-allowed;" readonly />
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <input type="text" id="qty" style="cursor: cell;"/>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <input type="text" id="price" style="background-color: transparent; cursor: not-allowed;" readonly />
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <input type="text" id="sum" style="background-color: transparent; cursor: not-allowed;" readonly />
            </div>
        </div>

        <div class="col-md-12" style="margin-bottom:10px;">
            <div class="col-md-2">
                <input type="text" id="title" style="background-color: transparent; cursor: not-allowed;" readonly />
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <input type="text" id="qty" style="cursor: cell;"/>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <input type="text" id="price" style="background-color: transparent; cursor: not-allowed;" readonly />
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <input type="text" id="sum" style="background-color:transparent; cursor:not-allowed;" readonly />
            </div>
        </div>

        <div class="col-md-12" style="margin-bottom:10px;">
            <div class="col-md-9"></div>
            <div class="col-md-3">
                <input type="text" id="total-sum" style="background-color: transparent; cursor: not-allowed;" readonly />
                <label>Total Sum (SEK)</label>
            </div>
        </div>

        <div class="col-md-12" style="margin-bottom:30px;">
            <div class="col-md-9"></div>
            <div class="col-md-3">
                <input type="text" id="vat" style="background-color: transparent; cursor: not-allowed;" readonly />
                <label>VAT (SEK)</label>
            </div>
        </div>

        <div class="col-md-12" style="margin-bottom:10px;">
            <label>Delete</label>
            <input type="radio" id="radio-delete" style="cursor: pointer;" onchange="modificationMode('#radio-delete')" />
            <label>Edit</label>
            <input type="radio" id="radio-edit" style="cursor: pointer;" onchange="modificationMode('#radio-edit')" />
            <input class="btn btn-warning" type="submit" value="Save Changes" disabled />
            <input class="btn btn-success" type="submit" value="Cancel" />
        </div>
    </form>
</div>

<script>
    function PostOrderID(index) {
        //Get the value of option selected in the dropdown list
        var id = document.querySelector("#OrderIDList").item(index).getAttribute("value");

        // Set the value of input form and then post the form
        $("#index").val(id);
        document.getElementById("index-form").submit();
    }

    function modificationMode(id) {
        if ($(id).is(":checked") == true) {
            $(id).siblings().prop("checked", false);
        }
    }
</script>
