@model IEnumerable<MovieShop.Models.Orders>

@{
    ViewBag.Title = "OrderAdminPage";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Order Admin Page</h2>

<div class="container form-group" style="width:fit-content; text-align:center;">

    <h4 style="background-color:#000; color:#FFF"> Choose an order to display the order details</h4>
    @{
        List<SelectListItem> orderList = new List<SelectListItem>();
        foreach (var order in Model.Select(o => o.Id).Distinct())
        {
            orderList.Add(new SelectListItem { Text = order.ToString(), Value = order.ToString() });
        }
    }

    @Html.DropDownList("OrderList", orderList, "Select an Order ID",
    new
    {
        @class = "form-group form-control selectpicker bg-transparent",
        method = "post",
        onchange = "PostOrderID(this.selectedIndex)",
        id = "OrderIDList",
        style = "padding-left:20px; margin: 5px auto;"
    })
</div>

<form name="index-form" id="index-form" method="post" hidden>
    <input type="hidden" name="index" id="index" value="0" />
</form>
<hr />

<div class="container" id="order-detail-container">
    <form method="post" id="order-detail-form">
        <div class="col-md-12" style="margin-bottom:10px;">
            <div class="col-md-3">
                <label>Order Id</label>
                <input type="text" id="order-id"/>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <label>customer Id</label>
                <input type="text" id="customer-id"/>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <label>Order Date</label>
                <input type="text" id="order-date"/>
            </div>
        </div>

        <div class="col-md-12" style="margin-bottom:10px;">
            <div class="col-md-3">
                <label>Forename</label>
                <input class="can-be-modified-input" type="text" id="forename" onkeypress="EnableSaveButton()"/>
            </div>

            <div class="col-md-1"></div>
            <div class="col-md-3">
                <label>Surname</label>
                <input class="can-be-modified-input" type="text" id="surname" onkeypress="EnableSaveButton()"/>
            </div>
        </div>

        <div class="col-md-12" style="margin-bottom:10px;">
            <div class="col-md-3">
                <label>Phone No.</label>
                <input class="can-be-modified-input" type="text" id="phone-number" onkeypress="EnableSaveButton()"/>
            </div>
            <div class="col-md-1"> </div>
            <div class="col-md-3">
                <label>Email</label>
                <input class="can-be-modified-input" type="text" id="email" onkeypress="EnableSaveButton()"/>
            </div>
        </div>

        <div class="col-md-12" style="margin-bottom:10px;">
            <div class="col-md-3">
                <label>Billing Address</label>
                <input class="can-be-modified-input" type="text" id="billing-address" onkeypress="EnableSaveButton()"/>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <label>Billing zip</label>
                <input class="can-be-modified-input" type="text" id="billing-zip" onkeypress="EnableSaveButton()"/>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <label>Billing city</label>
                <input class="can-be-modified-input" type="text" id="billing-city" onkeypress="EnableSaveButton()"/>
            </div>
        </div>

        <div class="col-md-12" style="margin-bottom:10px;">
            <div class="col-md-3">
                <label>Shipping Address</label>
                <input class="can-be-modified-input" type="text" id="shipping-address" onkeypress="EnableSaveButton()"/>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <label>Shipping zip</label>
                <input class="can-be-modified-input" type="text" id="shipping-zip" onkeypress="EnableSaveButton()"/>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <label>Shipping city</label>
                <input class="can-be-modified-input" type="text" id="shipping-city" onkeypress="EnableSaveButton()"/>
            </div>
        </div>

        <div class="col-md-12" style="margin-bottom:3px;">
            <div class="col-md-2">
                <label>Title</label>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <label>Qty</label>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <label>Price (SEK)</label>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <label>Sum (SEK)</label>
            </div>
        </div>

        <div class="col-md-12" style="margin-bottom:10px;">
            <div class="col-md-2">
                <input type="text" id="title"/>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <input class="can-be-modified-input" type="text" id="qty" onkeypress="EnableSaveButton()"/>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <input type="text" id="price"/>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <input type="text" id="sum" onchange="EnableSaveButton()"/>
            </div>
        </div>

        <div class="col-md-12" style="margin-bottom:10px;">
            <div class="col-md-2">
                <input type="text" id="title"/>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <input class="can-be-modified-input" type="text" id="qty" onkeypress="EnableSaveButton()"/>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <input type="text" id="price"/>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <input type="text" id="sum"/>
            </div>
        </div>

        <div class="col-md-12" style="margin-bottom:10px;">
            <div class="col-md-9"></div>
            <div class="col-md-3">
                <input type="text" id="total-sum"/>
                <label>Total Sum (SEK)</label>
            </div>
        </div>

        <div class="col-md-12" style="margin-bottom:30px;">
            <div class="col-md-9" style="color:red; font-weight:bold;">Deletion and Modification of order data is irrevocable once committed.</div>
            <div class="col-md-3">
                <input type="text" id="vat"/>
                <label>VAT (SEK)</label>
            </div>
        </div>

        <div class="col-md-12" style="margin-bottom:10px;">
            <label>Delete</label>
            <input type="radio" id="radio-delete" style="cursor: pointer;" onchange="modificationMode('#radio-delete')" />
            <label>Edit</label>
            <input type="radio" id="radio-edit" style="cursor: pointer;" onchange="modificationMode('#radio-edit')" />
            <input class="btn btn-danger" type="submit" id="save-changes-btn" value="Save Changes" disabled />
            <input class="btn btn-success" type="button" value="Cancel" onclick="cancelModification()" />
        </div>
    </form>
</div>

<script>
    function PostOrderID(index) {
        //Get the value of option selected in the dropdown list
        var id = document.querySelector("#OrderIDList").item(index).getAttribute("value");

        // Set the value of input form and then post the form
        $("#index").val(id);
        document.getElementById("index-form").submit();
    }

    function modificationMode(id) {
        if ($(id).is(":checked") == true) {
            $(id).siblings().prop("checked", false);
        }

        if (id == "#radio-delete") {
            $("#order-detail-container").css("border", "solid 3px red");
            $("#save-changes-btn").prop('disabled', false);
            $(".can-be-modified-input").css({ "user-select": "none", "cursor": "not-allowed", "background-color": "transparent" });
            $("#order-detail-form").get(0).reset();
            $(id).prop("checked", true); // because form reset unchecks the delete radio
        }
        else {
            $("#order-detail-container").css("border", "");
            $("#save-changes-btn").prop('disabled', true);
            $(".can-be-modified-input").css({ "user-select": "text", "cursor": "pointer", "background-color": "white" });

        }

    }

    function EnableSaveButton() {
        console.log("enabling the Save Changes button");
        $("#save-changes-btn").prop('disabled', false);
    }

    function cancelModification()
    {
        $("#order-detail-container").slideUp();
    }

</script>
